.env
credentials.json
test.wav

# Byte-compiled / optimized files
*.py[cod]

# Python cache directories
*__pycache__/*
project_x_processing_engine.egg-info

# Virtual environments
.venv/
venv/
env/

# IDE / OS
.DS_Store
.idea/
.vscode/
